*.o
*.cmd
tags
.config*
*.bin
*.iso
*.syms
*.bc
*.ll
./src/llvm/toolchain

include/config/
include/autoconf.h
.kconfig.d
nautilus.secs

scripts/basic/docproc
scripts/basic/fixdep
scripts/basic/split-include
scripts/format_secs
scripts/format_syms
scripts/kconfig/conf
scripts/kconfig/lxdialog/lxdialog
scripts/kconfig/mconf
scripts/kconfig/lkc_defs.h
